@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacrament Meeting Planner</h2>
        <p>
            The Sacrament Meeting planner helps you organize your meeting and
            keep track of past speakers, topics and songs so you don't have
            any repeats.
        </p>
    </div>
</div>